
<%- include('header')  %>
  <div class="wrapperal">
    <div class="container-fluid main">
        <div class="row row1">
            

            <div class="col-md-12 right" style="background-color: #DDD0C8;">
                
                <div class="input-box">
                   
                   <header> ADMIN LOGIN</header>
                   <% if (locals.alert) { %>
                    <div class="alert alert-danger text-center m-3" id="error"><%= locals.alert  %></div>
                   <% } %>
                   <% if (locals.logout) { %>
                    <div class="alert alert-success text-center m-3" id="logout"><%= locals.logout  %></div>
                   <% } %>
                   <form action="/submit" method="POST">
                   <div class="input-field">
                        <input type="text" class="input" name="email" id="email" required autocomplete="off">
                        <label for="email">Email</label> 
                    </div> 
                   <div class="input-field">
                        <input type="password" class="input" name="password" id="pass" required>
                        <label for="pass">Password</label>  
                    </div> 
                   <div class="input-field">

                        <input type="submit" class="submit1" value="Login">
                   </div> 
                  </form>
                </div>  
            </div>
        </div>
    </div>
</div>
<script>
     setTimeout(() => {
    document.getElementById("error").style.display = "none";
    }, 3000);
    setTimeout(() => {
    document.getElementById("logout").style.display = "none";
    }, 3000);
</script>
<%- include('footer')  %>